html{
    box-sizing: border-box;
}
*,*:before,*:after{
    box-sizing: inherit;
}

body{
  margin:0;
  padding:0;
  font-family: "Karla" , sans-serif;
  background-color:hsl(204, 43%, 93%) ;
}
.container{ 
    background-color: #ffffff;
    margin:12% 8%;
    border-radius:10px;
}
#item1{
    padding: 1rem 2rem;
}
#item2{
    background-color: hsl(179,62%,43%);
    color: hsl(204, 43%, 93%);
    padding: 1rem 2rem;
}
#item3{
    background-color:hsla(179, 62%, 43%, 0.85);
    color:hsl(204, 43%, 93%);
    padding: 1rem 2rem;
}

#item1 h2{
    color: hsl(179,62%,43%);
}
#item1 h3{
    color:hsl(71, 73%, 54%);
}
#item1 p{
    color:hsl(218, 22%, 67%);
    font-size: 1rem;
    line-height: 1.8;
}

#item2 p{
    color:hsla(204, 43%, 93%,0.85);
    margin-top: 6px;
    font-size: 0.9rem;
}
#price{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
#price div:first-child{
    font-size: 1.9rem;
}
#price div:last-child{
    color:hsla(204, 43%, 93%,0.65);
    margin-left: 0.8rem;
}
button{
    background-color:hsl(71, 73%, 54%);
    color: white;
    border:none;
    border-radius: 7px;
    width: 100%;
    padding: 0.8rem;
    font-family: 'Karla', sans-serif;
    box-shadow: 5px 10px 20px hsl(218deg 1% 39% / 58%);
    margin-bottom: 1rem;
}
button:hover{
    background-color: white;
    color:hsl(179,62%,43%);
    cursor:pointer;
}
#item3 ul{
    list-style-type: none;
    font-size: 0.75rem;
    margin:0;
    padding:0;
}
#item3 li{
    margin-bottom: 0.1rem;
    color:hsla(204, 43%, 93%,0.65);
}
@media only screen and (min-width:992px){
    .container{
        margin:10% 25%;
        display: grid;
        grid-template-rows: 1fr 1fr auto;
        grid-template-columns: 1fr 1fr;
    }
    #item1{
        grid-column: 1/3;
}